baseURL = 'https://catandmouseteam.xyz/'
languageCode = 'ru-RU'
title = 'Cat and Mouse team'

disableKinds = ["taxonomy"]

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.parser]
      autoHeadingID = true
      [markup.goldmark.parser.attribute]
        block = true
        title = true

[minify]
  minifyOutput = true
  [minify.tdewolff.html]
    keepWhitespace = false
  [minify.tdewolff.css]
    keepCSS2 = false
  [minify.tdewolff.js]
    keepVarNames = false
    
[outputs]
  home    = ["HTML", "RSS"]
  section = ["HTML"]
  page    = ["HTML"]
  
[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'

[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'