{{ define "main" -}}
  <section class="mx-auto max-w-2xl text-center py-12">
    <p class="text-7xl font-extrabold text-slate-900">404</p>

    <p class="mt-4 text-lg sm:text-xl text-slate-700">
      Sorry, but the page you're looking for doesn't exist.
    </p>

    <div class="mt-8">
      <a
        href="{{ .Site.Home.RelPermalink }}"
        class="inline-flex items-center rounded-lg border border-slate-900 px-4 py-2 text-lg sm:text-xl text-slate-900 hover:bg-slate-900 hover:text-white transition duration-300"
      >
        Back to home
      </a>
    </div>
  </section>
{{- end }}